<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMDB_Requester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OMDB_Requester.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OMDB_Requester.Properties.Settings>
            <setting name="API_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="column0Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="column1Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column2Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="column3Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column4Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column5Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column6Width" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="column7Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="column8Width" serializeAs="String">
                <value>600</value>
            </setting>
        </OMDB_Requester.Properties.Settings>
        <OMDB_Requester.Settings1>
            <setting name="API_Key" serializeAs="String">
                <value>484ab702</value>
            </setting>
            <setting name="column1Width" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="column2Width" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="column3Width" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="column4Width" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="column5Width" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="column6Width" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="column7Width" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="column8Width" serializeAs="String">
                <value>600</value>
            </setting>
        </OMDB_Requester.Settings1>
    </userSettings>
</configuration>